{% extends 'base.html' %}
{% load static %}
{% block index %}active{% endblock index %}

{% block banner %}
<div class="col-lg-6 align-self-center">
    <div class="caption header-text">
      <h6>Xush kelibsiz, LiveBooks.uz</h6>
      <h2>SIZ QIDIRGAN KITOB DO'KONI!</h2>
      <p>Bizning saytimizda o'zingizga yoqqan kitoblarni hamyonbop narxlarda topishingiz va sotib olishingiz mumkin.</p>
      <div class="search-input">
        <form id="search" action="#">
          <input type="text" placeholder="Nima qidirmoqdasiz?" id='searchText' name="search" onkeypress="handle" />
          <button role="button">Qidirish</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 offset-lg-2">
    <div class="right-image">
      <img src="{% static 'assets/images/romeobook.jpg' %}" alt="">
      <span class="price">UZS 60000</span>
      <span class="offer">-40%</span>
    </div>
  </div>
{% endblock banner %}

{% block content %}
<div class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static 'assets/images/arzon.jpg' %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Arzon</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static 'assets/images/delivery.png' %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Tezkor yetkazib berish</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static 'assets/images/qulay.png' %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Qulay ko'rinish</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="{% static 'assets/images/bank.png' %}" alt="" style="max-width: 44px;">
              </div>
              <h4>Bo'lib to'lash</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section trending">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Trendda</h6>
            <h2>Trenddagi kitoblarimiz</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url 'shop' %}">Barchasi</a>
          </div>
        </div>
        {% for book in on_trend %}
        <div class="col-lg-3 col-md-6">
          <div class="item">
            <div class="thumb">
              <a href="{% url 'book_details' book.id %}"><img src="{{ book.image.url }}" alt=""></a>
              <span class="price">UZS {{ book.price }}</span>
            </div>
            <div class="down-content">
              <span class="category">{% for genre in book.genres_set %}{{ genre.name }}{% endfor %}</span>
              <h4>{{ book.title }}</h4>
              <a href="{% url 'book_details' book.id %}"><i class="fa fa-shopping-bag"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

  <div class="section most-played">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>TOP KITOBLAR</h6>
            <h2>Eng ko'p o'qilgan</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="shop.html">Barchasi</a>
          </div>
        </div>
        {% for book in top_books %}
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="{% url 'book_details' book.id %}"><img src="{{ book.image.url }}" alt=""></a>
            </div>
            <div class="down-content">
                <span class="category">{% for genre in book.genres_set.all %}{{ genre.name }}{% endfor %}</span>
                <h4>{{ book.title }}</h4>
                <a href="{% url 'book_details' book.id %}">Batafsil</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="section-heading">
            <h6>Yo'nalishlar</h6>
            <h2>Barcha Janrlar</h2>
          </div>
        </div>
        {% for genre in genres %}
        <div class="col-lg col-sm-6 col-xs-12">
          <div class="item">
            <h4>{{ genre.name }}</h4>
            <div class="thumb">
              <a href="product-details.html"><img src="{% static 'assets/images/categories-01.jpg' %}" alt=""></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="section cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="shop">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>Our Shop</h6>
                  <h2>Go Pre-Order Buy & Get Best <em>Prices</em> For You!</h2>
                </div>
                <p>Lorem ipsum dolor consectetur adipiscing, sed do eiusmod tempor incididunt.</p>
                <div class="main-button">
                  <a href="shop.html">Shop Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-2 align-self-end">
          <div class="subscribe">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h6>NEWSLETTER</h6>
                  <h2>Get Up To $100 Off Just Buy <em>Subscribe</em> Newsletter!</h2>
                </div>
                <div class="search-input">
                  <form id="subscribe" action="#">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email...">
                    <button type="submit">Subscribe Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}